extends layout

block content
  h1= title
  div(style='width: 960px; position: relative;')
    video(id='preview', autoplay, height=540, width=960, style='display: block; transform: scale(-1, 1);')
    canvas(id='layer', height=540, width=960, style='position: absolute; top: 0; left: 0;')
    p(id='left-shoulder', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='left-elbow', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='left-wrist', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='right-shoulder', style='position: relative; color: blue; display: none; height: 0px; margin: 0px;') ●
    p(id='right-elbow', style='position: relative; color: blue; display: none; height: 0px; margin: 0px;') ●
    p(id='right-wrist', style='position: relative; color: blue; display: none; height: 0px; margin: 0px;') ●
  select(id='camera_select', style='margin-top: 20px')

  script.
    setVideoSource('video#preview', 'select');
    const imageScaleFactor = 0.5;
    const outputStride = 16;
    const interval = 200;
    const flipHorizontal = false;
    const videoElement = document.getElementById('preview');
    const canvas = document.getElementById("layer");
    const context = canvas.getContext("2d");

    filters = [
      // new SholderChecker('message')
    ]

    hooks = [
      new PointMarker(context, 'rightShoulder', 'rgb(192, 80, 77)'),
      new PointMarker(context, 'rightElbow', 'rgb(192, 80, 77)'),
      new PointMarker(context, 'rightWrist', 'rgb(192, 80, 77)'),
      new Liner(context, 'rightShoulder', 'rightElbow', 'rgb(192, 80, 77)'),
      new Liner(context, 'rightElbow', 'rightWrist', 'rgb(192, 80, 77)'),
      new PointMarker(context, 'leftShoulder', 'rgb(80, 77, 192)'),
      new PointMarker(context, 'leftElbow', 'rgb(80, 77, 192)'),
      new PointMarker(context, 'leftWrist', 'rgb(80, 77, 192)'),
      new Liner(context, 'leftShoulder', 'leftElbow', 'rgb(80, 77, 192)'),
      new Liner(context, 'leftElbow', 'leftWrist', 'rgb(80, 77, 192)'),
      new Liner(context, 'leftShoulder', 'rightShoulder', 'rgb(80, 192, 77)'),
      new ShowAngle(context, 'rightElbow', 'rightWrist', 'rightShoulder', 'rgb(192, 80, 77)'),
      new ShowAngle(context, 'leftElbow', 'leftShoulder', 'leftWrist', 'rgb(80, 77, 192)')
    ]

    const poseChecker = new PoseChecker(videoElement, imageScaleFactor, flipHorizontal, outputStride, interval, filters, hooks);
    poseChecker.init();
    poseChecker.start();

