extends layout

block content
  h1= title
  p(id='message', style='height: 30px') 検出中……
  div(style='width: 960px')
    video(id='preview', autoplay, height=540, width=960, style='display: block;')
    p(id='nose', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='left-eye', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='right-eye', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='left-shoulder', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='right-shoulder', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
  select(id='camera_select', style='margin-top: 20px')

  script.
    setVideoSource('video#preview', 'select');
    const imageScaleFactor = 0.5;
    const outputStride = 16;
    const interval = 200;
    const flipHorizontal = false;
    const videoElement = document.getElementById('preview');

    filters = [
      new SholderChecker('message')
    ]

    hooks = [
      new Marker('nose', 'nose'),
      new Marker('left-eye', 'leftEye'),
      new Marker('right-eye', 'rightEye'),
      new Marker('left-shoulder', 'leftShoulder'),
      new Marker('right-shoulder', 'rightShoulder'),
    ]
    
    const poseChecker = new PoseChecker(videoElement, imageScaleFactor, flipHorizontal, outputStride, interval, filters, hooks);
    poseChecker.init();
    poseChecker.start();
  