extends layout

block content
  h1= title
  p(id='message') 検出中……
  div(style='')
    video(id='preview', autoplay, height=540, width=960, style='display: block;')
    p(id='nose', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='left-eye', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='right-eye', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='left-shoulder', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
    p(id='right-shoulder', style='position: relative; color: red; display: none; height: 0px; margin: 0px;') ●
  select(id='camera_select', style='margin-top: 20px')

  script.
    setVideoSource('video#preview', 'select');
    const imageScaleFactor = 0.5;
    const outputStride = 16;
    const interval = 200;
    const flipHorizontal = false;
    const videoElement = document.getElementById('preview');

    const SholderChecker = function(id) {
      this.element = document.getElementById(id);
    }
    SholderChecker.prototype = {
      do: function(pose) {
        const leftShoulder = pose.keypoints.find((element) => { return element.part === 'leftShoulder' });
        const rightShoulder = pose.keypoints.find((element) => { return element.part === 'rightShoulder' });

        var diff = leftShoulder.position.y - rightShoulder.position.y;
        if (diff > 10) {
          this.element.innerHTML = '左肩が下がっています';
        } else if (diff < -10) {
          this.element.innerHTML = '右肩が下がっています';
        } else {
          this.element.innerHTML = '';
        }
      }
    }

    filters = [
      new SholderChecker('message')
    ]

    hooks = [
      new Marker('nose', 'nose'),
      new Marker('left-eye', 'leftEye'),
      new Marker('right-eye', 'rightEye'),
      new Marker('left-shoulder', 'leftShoulder'),
      new Marker('right-shoulder', 'rightShoulder'),
    ]
    
    const poseChecker = new PoseChecker(videoElement, imageScaleFactor, flipHorizontal, outputStride, interval, filters, hooks);
    poseChecker.init();
    poseChecker.start();
  