doctype html
html
  head
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.3')
    script(src='https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet@0.2.3')
    script(src='javascripts/camera.js')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
